.container-fluid {
  color: #4169e1;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 200;
  text-align: center:
}

nav {
  margin-bottom: 25px;
}

.navbar-brand {
  font-family: 'Tahoma',sans-serif;
  color: #ffd700;
  font-weight: 700;
}

.nav-link {
  font-family: 'Tahoma', sans-serif;
  color: white;
}

a:hover {color: #ffd700;}

.hero-image {
    width: 100%;
}

.hero-caption {
  font-family: 'Georgia', serif;
  font-size: .9em;
  font-style: italic;
  text-align: left
}

.overlay {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4169e1;
  opacity: .7;
}

#where {
  color: crimson;
  padding-top: 25px;
  margin-left: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 70%;
}

h1 {
  font-family: 'Tahoma', sans-serif;
  font-weight: 900;
  font-size: 3em;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-left: 30px;

}

h4 {
  margin-top: 35px;
  font-weight: bold;
  font-size: 30px;
}

#byline {
  padding-bottom: 30px;
}

#landscape {
  margin-top: 40px;
  position: relative;
  left: 40px;
  border-color: darkgreen;
  border-width: 5px;
  border-style: solid;
}

.caption {
  font-family: 'Georgia', serif;
  font-size: .9em;
  font-style: italic;
  margin-left: auto;
  margin-bottom: 40px;
}

#light-traffic {
  margin-left: 40px;
  margin-bottom: 40px;
  font-family: 'Georgia', serif;
  font-size: .9em;
  font-style: italic;
}

p {
  font-family: 'Georgia', serif;
  font-size: 1em;
  font-weight: 500;
  margin-left: 6em;
  margin-right: 6em;
  text-align: justify;
}

#under-timeline {
  margin-top: 35px;
}

#datawrapper-chart-n94N9 {
  margin-bottom: 40px;
}

#map {
  border-width: 1px;
  border-color: black;
}

#datawrapper-chart-FXv8u {
  margin-top: 40px;
  margin-bottom: 40px;
}
