.hero-head {
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  font-family: 'Merriweather', serif;
  padding-top: 40px;
  color: black;
}

.hero-sub {
font-size: 65%;
font-weight: normal;
padding-bottom: 40px;
}

.hero-image {
  margin-bottom: 50px;
  margin-top: 0;
}

#byline {
  font-size: 1em;
  font-family:'Merriweather', serif;
}

#first-subhead {
  margin-top: 3em;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 45px;
    margin-bottom: 50px;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-size: 1em;
  font-weight: 450;
}

.caption {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 50px;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 3px;
  margin-top: 50px;
  position: absolute;
  width: 100%;
}

/* Top nav */
.nav-top {
  color: #fff;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
}

.red {
  color: #f23030;
}

a {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 20%;
  width: 100%;
  background-color: chocolate;
  opacity: .7;
}

/* Pull Quote */
.quote {
  font-family: 'Merriweather', serif;
  color: chocolate;
  font-size: 45px;
  font-weight: 700;
  text-align: left;
  padding: 15px 0 15px 0;
  border-top: 1px solid darkslategray;
  margin-top: 20px;
}

.quote-attribution {
  font-size: 30px;
  font-family: 'Merriweather', serif;
  font-weight: 200;
  text-align: left;
  color: chocolate;
  border-bottom: 1px solid darkslategray;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
/* End Quote */

/* Media Queries */
@media (max-width:700px) {

.hero-head {
    font-size: 1.5em;
  }
}
#datawrapper-chart-ryKWr {
  margin-top: 50px;
  margin-bottom: 50px;
}

#datawrapper-chart-Y5wPV {
  border: 2px
  border-color: solid black;
  margin-bottom: 20px;
}

.text-box {
  border: 2px;
  border-color: solid chocolate;
  padding: 10px;
  margin: 20px 5em 20px 5em;
}
