.hero-head {
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  font-family: 'Merriweather', serif;
  padding-top: 40px;
  color: black;
}

.hero-sub {
font-size: 65%;
font-weight: normal;
padding-bottom: 40px;
}

.hero-image {
  margin-bottom: 50px;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

#first-subhead {
  margin-top: 3em;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 45px;
    margin-bottom: 50px;
}


h3 {
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-size: 1em;
  font-weight: 500;
}

.caption {
  font-family: Georgia, serif;
  font-size: 1em;
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 50px;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 3px;
  margin-top: 50px;
  position: absolute;
  width: 100%;
}

/* Top nav */
.nav-top {
  color: #fff;
  margin: 0 auto;
  font-weight: 700;
}

.red {
  color: #f23030;
}

.overlay {
  position: absolute;
  top: 20%;
  width: 100%;
  background-color: chocolate;
  opacity: .7;


}
