BODY {
  font-family:Helvetica, Arial, sans-serif;
  text-size:12px;
}

.article-text {
  line-height: 20px;
  padding-bottom: 10px
}

.byline {
  padding-bottom: 40px;
}

.container-fluid {
  position:relative;
  text-align:center;
  margin-bottom: 150px;
}
.hero-image {
  position: relative;
  text-align: center;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:Tahoma, Arial;
  font-size: 3em;
  font-weight:bold;
  color: black;
